{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>Enabled</th>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>HP</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.CreatedAt ? pokemon.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pokemon.UpdatedAt ? pokemon.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pokemon.DeletedAt ? pokemon.DeletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pokemon.Enabled ? 'Yes' : 'No' }}</td>
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.Name }}</td>
                <td>{{ pokemon.Type }}</td>
                <td>{{ pokemon.HP }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">show</a>
                    <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pokemon_new') }}">Create new</a>
{% endblock %}
